<wm-page data-ng-controller="Test_PrefabController" name="page1">
    <wm-content name="content1">
        <wm-composite name="composite1">
            <wm-label class="col-md-3 control-label" name="label1"></wm-label>
            <wm-container class="col-md-9" name="container1">
                <wm-text name="text1"></wm-text>
            </wm-container>
        </wm-composite>
        <wm-composite name="composite2">
            <wm-label class="col-md-3 control-label" name="label2"></wm-label>
            <wm-container class="col-md-9" name="container2">
                <wm-radioset height="auto" name="radioset1"></wm-radioset>
            </wm-container>
        </wm-composite>
        <wm-composite name="composite3">
            <wm-label class="col-md-3 control-label" name="label3"></wm-label>
            <wm-container class="col-md-9" name="container3">
                <wm-checkboxset height="auto" name="checkboxset1"></wm-checkboxset>
            </wm-container>
        </wm-composite>
        <wm-composite name="composite4">
            <wm-label class="col-md-3 control-label" name="label4"></wm-label>
            <wm-container class="col-md-9" name="container4">
                <wm-switch datavalue="yes" name="switch1"></wm-switch>
            </wm-container>
        </wm-composite>
        <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1"></wm-button>
    </wm-content>
</wm-page>